.header-login-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-text;

    border: 2px solid $green-light;
    background-color: $grey-100;
    border-radius: 6px;
    height: 500px;

    .login-right-content {
      margin-right: 80px;
      width: 400px;
      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 50px;
        }

        input {
          text-align: center;
          height: 20px;
          width: 300px;
        }

        .login-buttons {
          margin-top: 60px;
        }

        .login-buttons button:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
  }
}
