.header-header-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;

  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-text;

    border: 2px solid $green-light;
    background-color: $grey-100;
    border-radius: 6px;
    height: 500px;
    .register-right-content {
      margin-right: 80px;

      .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin-top: 20px;
        }
      }
    }
  }
}
