.register-screen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-screen .register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-screen .register .register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  border: 2px solid #7ae30b;
  background-color: #141314;
  border-radius: 6px;
  height: 500px;
}
.register-screen .register .register-container .register-right-content {
  margin-right: 80px;
  width: 400px;
}
.register-screen .register .register-container .register-right-content .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-screen .register .register-container .register-right-content .form-container h1 {
  font-size: 50px;
}
.register-screen .register .register-container .register-right-content .form-container input {
  text-align: center;
  height: 20px;
  width: 300px;
}
.register-screen .register .register-container .register-right-content .form-container .register-buttons {
  margin-top: 60px;
}
.register-screen .register .register-container .register-right-content .form-container .register-buttons button:nth-child(2) {
  margin-left: 20px;
}

.apresentation-content {
  align-items: center;
  justify-content: center;
  width: 370px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 80px;
}
.apresentation-content p {
  width: 100%;
  text-align: justify;
}
.apresentation-content p a {
  color: #eee;
  text-decoration: none;
}
.apresentation-content .about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.apresentation-content .about-me p {
  text-align: initial;
}
.apresentation-content .about-me h3 {
  font-size: 1.4rem;
}
.apresentation-content .about-me img {
  border-radius: 50%;
  height: 150px;
  margin-right: 40px;
}

.default-button {
  background-color: #7ae30b;
  color: #141314;
  height: 2.3rem;
  border: none;
  border-radius: 6px;
  width: 9rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.default-button:hover {
  cursor: pointer;
  background-color: #444444;
  color: #7ae30b;
  transition: 0.5s;
}

.header {
  background-color: #141314;
}
.header .header-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header-container img {
  width: 150px;
}
.header .header-container ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .header-container li {
  color: #eee;
  padding-right: 20px;
  cursor: pointer;
}

.footer {
  background-color: #141314;
  color: #eee;
}
.footer .footer-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-container ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.footer .footer-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  cursor: pointer;
}
.footer .footer-container li:nth-child(3) {
  padding-right: 0px;
}
.footer .footer-container img {
  height: 40px;
}

.login-screen {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-screen .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-screen .login .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  border: 2px solid #7ae30b;
  background-color: #141314;
  border-radius: 6px;
  height: 500px;
}
.login-screen .login .login-container .login-right-content {
  margin-right: 80px;
  width: 400px;
}
.login-screen .login .login-container .login-right-content .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-screen .login .login-container .login-right-content .form-container h1 {
  font-size: 50px;
}
.login-screen .login .login-container .login-right-content .form-container input {
  text-align: center;
  height: 20px;
  width: 300px;
}
.login-screen .login .login-container .login-right-content .form-container .login-buttons {
  margin-top: 60px;
}
.login-screen .login .login-container .login-right-content .form-container .login-buttons button:nth-child(2) {
  margin-left: 20px;
}

.tasks-screen {
  height: 80vh;
  display: flex;
}
.tasks-screen .tasks-screen-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks-screen .tasks-screen-container .tasks {
  color: #eee;
  overflow: hidden;
  text-align: center;
  border: 2px solid #7ae30b;
  background-color: #141314;
  border-radius: 6px;
  height: 85%;
  width: 80%;
}
.tasks-screen .tasks-screen-container .tasks h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 80%;
  overflow: hidden;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .plus-icon {
  cursor: pointer;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .to-do {
  height: 80%;
  background-color: #444444;
  min-width: 300px;
  border-radius: 10px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .to-do .to-do-tittle {
  display: flex;
  background-color: #7ae30b;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .to-do .to-do-tittle h4 {
  margin: 4px;
  padding-bottom: 5px;
  color: black;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .to-do .to-do-container {
  height: 100%;
  overflow-y: auto;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .in-progress {
  height: 80%;
  background-color: #444444;
  border-radius: 10px;
  min-width: 300px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .in-progress .in-progress-tittle {
  display: flex;
  background-color: #7ae30b;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .in-progress .in-progress-tittle h4 {
  margin: 4px;
  padding-bottom: 5px;
  color: black;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .in-progress .in-progress-container {
  height: 100%;
  overflow-y: auto;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .completed {
  height: 80%;
  background-color: #444444;
  border-radius: 10px;
  min-width: 300px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .completed .completed-tittle {
  display: flex;
  background-color: #7ae30b;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .completed .completed-tittle h4 {
  margin: 4px;
  padding-bottom: 5px;
  color: black;
}
.tasks-screen .tasks-screen-container .tasks .tasks-container .completed .completed-container {
  height: 100%;
  overflow-y: auto;
}

.drawerOpen {
  position: relative;
  height: 80vh;
  width: 200px;
  background-color: #444444;
  text-align: center;
}
.drawerOpen .burguer-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.drawerOpen h1 {
  margin-top: 80px;
  color: #eee;
}
.drawerOpen ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #eee;
}

.drawerClosed {
  height: 80vh;
}
.drawerClosed .burguer-icon {
  margin: 20px;
  color: #7ae30b;
  cursor: pointer;
}
.drawerClosed h1 {
  margin-top: 80px;
  display: none;
  color: #eee;
}
.drawerClosed ul {
  display: none;
  color: #eee;
}

.task {
  display: flex;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-around;
  background-color: #444444;
  border-top: 2px solid #141314;
}/*# sourceMappingURL=index.css.map */