.tasks-screen {
  height: 80vh;
  display: flex;

  .tasks-screen-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tasks {
      color: $white-text;
      overflow: hidden;
      text-align: center;
      border: 2px solid $green-light;
      background-color: $grey-100;
      border-radius: 6px;
      height: 85%;
      width: 80%;

      h1 {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .tasks-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        overflow: hidden;
        align-items: center;

        .plus-icon {
          cursor: pointer;
        }
        .to-do {
          height: 400px;
          background-color: $grey-200;
          min-width: 300px;
          border-radius: 10px;

          .to-do-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }
          .to-do-container {
            height: 100%;
            overflow-y: auto;
          }
        }

        .in-progress {
          height: 400px;
          background-color: $grey-200;
          border-radius: 10px;
          min-width: 300px;

          .in-progress-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }
          .in-progress-container {
            height: 100%;
            overflow-y: auto;
          }
        }
        .completed {
          height: 400px;
          background-color: $grey-200;
          border-radius: 10px;
          min-width: 300px;
          .completed-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }

          .completed-container {
            height: 100%;
            overflow-y: auto;
          }
        }
      }
    }
  }
}
