.apresentation-content {
  align-items: center;
  justify-content: center;
  width: 370px;
  display: flex;
  flex-direction: column;

  margin-right: 40px;
  margin-left: 40px;

  p {
    width: 100%;
    text-align: justify;
    margin-top: 10px;

    a {
      color: $white-text;
      text-decoration: none;
    }
  }

  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    p {
      text-align: initial;
    }

    h3 {
      font-size: 1.4rem;
    }

    img {
      border-radius: 50%;
      height: 150px;
      margin-right: 40px;
    }
  }
}




@media (max-width: 900px) {
  .apresentation-content {
    width: 85%;
    .about-me {
      display: none;
    }
  }
}
