.register-screen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .register {
    display: flex;
    align-items: center;
    justify-content: center;

    .register-container {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-text;

      border: 2px solid $green-light;
      background-color: $grey-100;
      border-radius: 6px;
      height: 500px;
      .register-right-content {
        margin-right: 80px;
        width: 400px;
        .form-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            font-size: 50px;
          }

          input {
            text-align: center;
            height: 20px;
            width: 300px;
          }

          .register-buttons {
            margin-top: 60px;
          }

          .register-buttons button:nth-child(2) {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
