.footer {
  background-color: $grey-100;

  color: $white-text;

  .footer-container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footer-links{

      a{
        margin-right: 20px;
      }

    }


    img {
      height: 40px;
    }
  }
}
