.header {
  background-color: $grey-100;
  .header-container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 150px;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0px;
    }
    li {
      color: $white-text;
      padding-right: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .header-container {
      img {
        width: 90px;
      }
    }
  }
}
