.tasks-screen {
  height: 100vh;
  display: flex;

  .tasks-screen-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      color: $white-text;
      margin-bottom: 26px;
    }

    .tasks {
      color: $white-text;
      overflow: hidden;
      text-align: center;
      border: 2px solid $green-light;
      background-color: $grey-100;
      border-radius: 6px;
      height: 85%;
      width: 94%;
      overflow-x: auto;

      h1 {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .tasks-container {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        .plus-icon {
          cursor: pointer;
        }
        .to-do {
          height: 80%;
          background-color: $grey-200;
          min-width: 300px;
          border-radius: 10px 10px 0px 0px;
          margin: auto;

          .to-do-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }
          .to-do-container {
            height: 100%;
            overflow: overlay;
          }
        }

        .in-progress {
          height: 80%;
          background-color: $grey-200;
          border-radius: 10px 10px 0px 0px;
          min-width: 300px;
          margin: auto;

          .in-progress-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }
          .in-progress-container {
            height: 100%;
            overflow: overlay;
          }
        }

        .completed {
          height: 80%;
          background-color: $grey-200;
          border-radius: 10px 10px 0px 0px;
          min-width: 300px;
          margin: auto;

          .completed-tittle {
            display: flex;
            background-color: $green-light;
            border-radius: 10px 10px 0px 0px;
            align-items: center;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
            h4 {
              margin: 4px;
              padding-bottom: 5px;
              color: black;
            }
          }

          .completed-container {
            height: 100%;
            overflow: overlay;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .tasks-screen {
    .tasks-screen-container {
      .tasks {
        width: 96%;
      }
    }
  }
}



@media (max-width: 400px) {
  .tasks-screen {
    .tasks-screen-container {
      .tasks {
        width: 96%;
      }
    }
  }
}
